<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-muted">
  <div name="navbar" class="container-fluid">
    <!-- Left elements -->
    <div class="d-flex align-items-sm-right">
      <!-- Brand -->
      <a
        class="navbar-brand me-2 mb-1 d-flex align-self-start"
        routerLink="/dashboard"
      >
        <img
          src="assets/images/image3.png"
          height="40"
          alt=""
          loading="lazy"
          style="margin-top: 2px"
        />
      </a>

      <!-- Search form -->
      <form
        class="input-group w-auto my-auto d-none d-sm-flex justify-content-start"
      >
        <!-- <input
          type="search"
          (ngModelChange)= "searchUser(key.value)"
          #key="ngModel"
          ngModel name="key"
          id="searchName"
          class="form-control rounded"
          placeholder="Search"
          style="min-width: 125px;"
          required
          /> -->
        <!-- <span class="input-group-text border-0 d-none d-lg-flex justify-content-start"
            ><i class="fa fa-search"></i
          ></span> -->
      </form>
    </div>
    <!-- Left elements -->
    <!-- Right elements -->
    <ul class="navbar-nav flex-row">
      <li class="nav-item me-3 me-lg-1 active">
        <a class="nav-link" routerLink="/dashboard">
          <span><i class="fa fa-home fa-lg"></i></span>
          <span class="badge rounded-pill badge-notification bg-danger"></span>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-left">
          <img
            src="assets/images/doctor.png"
            class="rounded-circle"
            height="30"
            alt=""
            loading="lazy"
          />
          <strong class="d-none d-sm-block ms-1" routerLink="/consultantprofile"
            >Dr.{{ userdata.first_name }}
          </strong>
        </a>
      </li>

      <li
        class="nav-item px-4"
        ngbDropdown
        display="dynamic"
        placement="bottom-end"
      >
        <a
          class="nav-link"
          tabindex="0"
          ngbDropdownToggle
          id="navbarDropdown3"
          role="button"
        >
          <i class="fa fa-chevron-circle-down fa-lg"></i>
        </a>
        <div
          ngbDropdownMenu
          aria-labelledby="navbarDropdown3"
          class="dropdown-menu"
        >
          <a
            ngbDropdownItem
            routerLink="/consultantprofile"
            (click)="$event.preventDefault()"
            >My Profile</a
          >
          <a ngbDropdownItem (click)="logout()">LogOut</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class="w-95 w-md-75 w-lg-60 w-xl-55 mx-auto mb-6 text-center">
       <div class="subtitle alt-font"></div>
       <h2 class="display-18 display-md-16 display-lg-14 mb-0">
          Consultant Room Availability
       </h2>
    </div>
    <div class="row">
       <div class="col-md-12">
          <div class="schedule-table">
             <table class="table bg-white">
                <thead>
                   <tr>
                      <th>Availability</th>
                      <th>Room No. 01</th>
                      <th>Room No. 02</th>
                      <th>Room No. 03</th>
                      <th>Room No. 04</th>
                      <th class="last">Room No. 05</th>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                      <td class="day">08:00 - 11:00</td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 01', '08:00 - 11:00') }">                       
                         {{ isRoomAvailable('Room No. 01', '08:00 - 11:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 02', '08:00 - 11:00') }">
                         {{ isRoomAvailable('Room No. 02', '08:00 - 11:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 03', '08:00 - 11:00') }">
                         {{ isRoomAvailable('Room No. 03', '08:00 - 11:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 04', '08:00 - 11:00') }">
                         {{ isRoomAvailable('Room No. 04', '08:00 - 11:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 05', '08:00 - 11:00') }">
                         {{ isRoomAvailable('Room No. 05', '08:00 - 11:00') || '' }}
                      </td>
                   </tr>
                   <tr>
                      <td class="day">11:00 - 14:00</td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 01', '11:00 - 14:00') }" [style.background-color]="isRoomAvailable('Room No. 01', '11:00 - 14:00') ? 'red' : ''">
                        {{ isRoomAvailable('Room No. 01', '11:00 - 14:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 02', '11:00 - 14:00') }">
                         {{ isRoomAvailable('Room No. 02', '11:00 - 14:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 03', '11:00 - 14:00') }">
                         {{ isRoomAvailable('Room No. 03', '11:00 - 14:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 04', '11:00 - 14:00') }">
                         {{ isRoomAvailable('Room No. 04', '11:00 - 14:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 05', '11:00 - 14:00') }">
                         {{ isRoomAvailable('Room No. 05', '11:00 - 14:00') || '' }}
                      </td>
                   </tr>
                   <tr>
                      <td class="day">14:00 - 17:00</td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 01', '14:00 - 17:00') }">  
                         {{ isRoomAvailable('Room No. 01', '14:00 - 17:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 02', '14:00 - 17:00') }">
                         {{ isRoomAvailable('Room No. 02', '14:00 - 17:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 03', '14:00 - 17:00') }">
                         {{ isRoomAvailable('Room No. 03', '14:00 - 17:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 04', '14:00 - 17:00') }">                    
                         {{ isRoomAvailable('Room No. 04', '14:00 - 17:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 05', '14:00 - 17:00') }">
                         {{ isRoomAvailable('Room No. 05', '14:00 - 17:00') || '' }}
                      </td>
                   </tr>
                   <tr>
                      <td class="day">17:00 - 20:00</td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 01', '17:00 - 20:00') }">
                         {{ isRoomAvailable('Room No. 01', '17:00 - 20:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 02', '17:00 - 20:00') }">
                         {{ isRoomAvailable('Room No. 02', '17:00 - 20:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 03', '17:00 - 20:00') }">
                         {{ isRoomAvailable('Room No. 03', '17:00 - 20:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 04', '17:00 - 20:00') }">
                         {{ isRoomAvailable('Room No. 04', '17:00 - 20:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 05', '17:00 - 20:00') }">
                         {{ isRoomAvailable('Room No. 05', '17:00 - 20:00') || '' }}
                      </td>
                   </tr>
                   <tr>
                      <td class="day">20:00 - 23:00</td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 01', '20:00 - 23:00') }">
                         {{ isRoomAvailable('Room No. 01', '20:00 - 23:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 02', '20:00 - 23:00') }">
                         {{ isRoomAvailable('Room No. 02', '20:00 - 23:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 03', '20:00 - 23:00') }">
                         {{ isRoomAvailable('Room No. 03', '20:00 - 23:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 04', '20:00 - 23:00') }">
                         {{ isRoomAvailable('Room No. 04', '20:00 - 23:00') || '' }}
                      </td>
                      <td [ngClass]="{ 'filled': isRoomAvailable('Room No. 05', '20:00 - 23:00') }">
                         {{ isRoomAvailable('Room No. 05', '20:00 - 23:00') || '' }}
                      </td>
                   </tr>
                </tbody>
             </table>
          </div>
       </div>
    </div>
 </div>
 