.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .Site-content {
    flex: 1;
  }
  body{
    background-image: url(/assets/images/1.jpg);
      /* Full height */
  height: 100%;
  background-size: cover;
  }
  .generate-pdf-btn {
    margin-right: 10px;
  }